@use "../utilities/mixins";
@use "../utilities/variables";
@use "../utilities/extends";

.container-productos {
    margin: 40px auto;
    padding: 16px;
    @include mixins.flex (column, center, center);

    .producto-item {
        background-color: rgb(207, 207, 185);
        padding: 16px;
        border: 1px solid variables.$solid-black;
        border-radius: 8px;
        display: flex;
        @include mixins.flex (column, space-between, center);
        text-align: center;
        gap: 12px;
        height: 100%;

    }

}

.botonera {
    text-align: center;
    margin-top: 16px;

}

.p-productos {
    text-align: center;
    color: #000000;
    font-size: 24px;
}

/* productos de las img */
.img-productos {
    height: 100%;
    max-width: 100%;

}

.btn-comprar {
    text-decoration: none;
    color: variables.$color-boton;
    background-color: #dddcdc;
    padding: 8px 24px;
    border-radius: 8px;
    display: inline-block;

    &:hover {
        color: variables.$color-hover;
    }
}

// carrusel
.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    .carousel-inner {
    border-radius: 8px;
    }

    .carousel-control-prev,
    .carousel-control-next {
    @extend %boton-control-carrusel;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    @extend %icono-flecha-carrusel;
    }
}

// productos destacados
.destacados {
    gap: 32px;
    padding: 32px 16px;
    margin: 32px auto;


}

.destacados .row {
    @include mixins.flex (center, center, center);
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
}

.card-producto {
    background-color: variables.$color-fondo;
    padding: 16px;
    border: 1px solid variables.$solid-black;
    border-radius: 8px;
    width: 216px;
    @include mixins.flex (column, center, center);
    text-align: center;
    gap: 8px;
}

.card-button {
    text-decoration: none;
    color: variables.$color-boton;
    padding: 8px 16px;
    border: 1px solid variables.$solid-black;
    display: inline-block;
    border-radius: 5px;
    margin: 16px;

    &:hover {
        color: variables.$color-hover;
    }
}

.card-producto img {
    width: 95%;
    border-radius: 4px;
}

.card-producto h5 {
    margin: 16px 0;
    background-color: rgb(240, 240, 240);
    border: 1px;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
}

.card-producto p {
    color: #000000;
    text-align: center;
    font-size: 16px;
}

.p-destacados {
    text-align: center;
    color: rgb(255, 248, 248);
}