footer {
    background-color: rgb(97, 100, 95);
    text-align: center;

}

.img-footer {
    width: 100px;
    height: auto;
    margin: 16px auto;
    display: block;
    opacity: 0.85;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 1;
    }
}