.seccion-form {

    padding: 16px 8px;
    text-align: center;

    .label-form {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        text-align: left;
        text-align: center;

        .imput-form {
            width: 100%;
            padding: 8px;
            border: 1px solid #333;

            .btn-enviar-mio {
                background-color: rgb(61, 61, 61);
                color: rgb(243, 243, 243);
                padding: 8px 24px;
                border: none;
                border-radius: 8px;
                margin-top: 16px;

                &:hover {
                    background-color: rgb(221, 201, 201);
                    color: rgb(0, 0, 0);

                }


            }



        }

    }
}

