@use "../utilities/variables";
.banner {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.navbar-mio {
    background-color: rgb(255, 255, 255);
    padding: 16px 24px;
    border-bottom: 2px solid variables.$solid-black;

    .navbar-nav {

        margin: 0 auto;

        .nav-link-mio {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-size: 18px;
            padding: 8px 16px;
            transition: color 0.3s;

            &:hover {
                color: variables.$color-hover;
            }
        }


    }

}

