// index 

@media (max-width: 500px) {
    .logo-stanley {
        max-width: 300px;
    }



    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .p-destacados {
        font-size: 8px;
    }

    .p-productos {
        font-size: 16px;
    }

    .p-contactanos {
        font-size: 16px;
    }


    p {
        font-size: 20px;
    }



}

@media (min-width: 1200px) and (max-width: 1500px) {
    .navbar-nav {
        gap: 40px;
    }
}

@media (min-width: 1501px) {

    .navbar-nav {
        gap: 100px;
    }
}